body{
    margin: 0px;
}
header{
    width: 100%;
    height: 200px;
    border: 1px dashed red;
}
main{
    width: 100%;
    min-height: 1200px;
}
.leftAside{
    width: 25%;
    height: 1200px;
    border: 1px dashed blue;
    float: left;
}
section{
    width: 50%;
    height: 1200px;
    border: 1px dashed green;
    float: left;
}
.rightAside{
    width: 24%;
    height: 1200px;
    border: 1px dashed red;
    float: left;
}
footer{
    width: 100%;
    height: 300px;
    border: 1px dashed green;
}
header > nav > ul > li{
    list-style: none;
    float: left;
    padding: 20px;
}